.container-fluid {
  padding: 0 0;
}

.navbar {
  padding: 10px 0;
}

.navbar .navbar-collapse li a {
  font-family: 'Tahoma', Arial, sans-serif;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  font-size: 50px;
  color: black;
  font-family: 'Impact', Arial, sans-serif;
}

.navbar .navbar-header {
  margin-left:40px;
}

.navbar .navbar-collapse {
  margin-right:50px;
}

#gallery-background {
  padding-left:15px;
  padding-right:15px;
  position: relative;
  background-color: #f0efef;
}

body {
  padding-top: 90px; 
}

#header {
  height: 450px;
  overflow: hidden;
  margin-top: -25px;
  background: url(../images/InstagramCollage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#time-count {
  margin-top: 140px;
}

.year-wrapper {
  display:inline-block;
  width: 200px;
  height: 200px;
  background:white;
  border-radius: 100px;
  padding-top: 45px;
  margin: 0px 10px;
  font-size:20px;
  font-family: 'Impact', Arial, sans-serif;
}

.years {
  font-size: 100px;
  line-height: 90px;
}

.month-wrapper {
  display:inline-block;
  width: 200px;
  height: 200px;
  background:white;
  border-radius: 100px;
  padding-top: 45px;
  margin: 0px 10px;
  font-size:20px;
  font-family: 'Impact', Arial, sans-serif;
}

.months {
  font-size: 100px;
  line-height:90px;
}

.day-wrapper {
  display:inline-block;
  width: 200px;
  height: 200px;
  background:white;
  border-radius: 100px;
  padding-top: 45px;
  margin: 0px 10px;
  font-size:20px;
  font-family: 'Impact', Arial, sans-serif;
}

.days {
  font-size: 100px;
  line-height:90px;
}

#header #logo h2 {
  color:white;
  text-transform: uppercase;
}


#header h2 span {
  top: 70px;
  left: 40%;
}

#header p {
  color: white;
  text-align: center;
}

#social-icons {
  top:350px;
  height:70px;
  width:100%;
  padding-left:150px;
  padding-right:50px;
  background-color:rgb(35, 35, 35);
  display: flex;
  justify-content: space-between;
}

#social-icons-left {
  top: 205px;
  left: 20%;
  position: absolute;
  margin-left: -64px;
}

#social-icons-right {
  top: 205px;
  left: 80%;
  position: absolute;
  margin-left: -64px;
}

#social-icons-left .fa {
  color:white;
  margin-right:5px;
}

#social-icons-right .fa {
  color:white;
  margin-right:5px;
}

.month h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-main-box {
  width: 29.3%;
  height: auto;
  margin-right: 2%;
  margin-left: 2%;
  float: left;
  position: relative;
  padding:0;
}

.photo {  
  height: auto;
  float:left;
  position:relative;
  padding: 13%;
  background-color: white;
  margin-bottom: 8px;
}

.photo img {
  float: left;
  width: 100%;
  height: auto;
}

.date {
  text-align: center;
}


